[Unit]
Description=Ceph OSD
After=docker.service
RequiresMountsFor=/var/lib/ceph/osd/ceph-%i

[Service]
TimeoutSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull ulexus/ceph-osd
ExecStartPre=-/usr/bin/docker rm ceph-osd-%i
ExecStart=/bin/sh -c '/usr/bin/docker attach ceph-osd-%i || /usr/bin/docker run --rm --net=host --privileged --name ceph-osd-%i -e OSD_ID=%i -e HOSTNAME=%H -v /etc/ceph:/etc/ceph -v /dev:/dev -v /var/lib/ceph/osd/ceph-%i:/var/lib/ceph/osd/ceph-%i ulexus/ceph-osd'
ExecStop=/usr/bin/docker stop ceph-osd-%i
ExecStopPost=-/usr/bin/docker rm ceph-osd-%i

[X-Fleet]
X-ConditionMachineID=abcdefg0102010102
