[Unit]
Description=Ceph Monitor
After=docker.service

[Service]
TimeoutSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/bin/mkdir -p /etc/ceph
ExecStartPre=/usr/bin/docker pull ulexus/ceph-mon
ExecStart=/bin/sh -c '/usr/bin/docker attach ceph-mon-%i || /usr/bin/docker start -a ceph-mon-%i || /usr/bin/docker run --net=host --name ceph-mon-%i -p 6789:6789 -e MON_IP=${COREOS_PUBLIC_IPV4} -e MON_NAME=%i -v /etc/ceph:/etc/ceph ulexus/ceph-mon'
ExecStop=/usr/bin/docker stop ceph-mon-%i
